* {
    border: 2px solid; /*seletor de estrela se utiliza para se aplicar a funçao para tudo na pagina*/
}

li a{
    color: blue;/*seletor de descendencia nesse caso usado para ancler,todas as ancoras*/

}
li > a{
    color: brown;/*nesse caso seletor filho,nesse caso todo a que for filho de li vai recever esse estilo*/


}
h1 + h4{
    border: 4px dashed;/*nesse caso seletor adjascente a funçao so de aplica ao h4 , é aplicado na funçção seguinte ,sempre,!*/

}
a[href='/recibo']{/*para buscar em todos ancle que tenha o href igual ao meu*/
    color: orange;
}